In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'km' :[1,2,3,4], 'time':[1,1,2,1] })
df

   km  time
0   1     1
1   2     1
2   3     2
3   4     1

In [8]:
df['new'] = df['km']*df['time']
df

   km  time  new
0   1     1    1
1   2     1    2
2   3     2    6
3   4     1    4