In [43]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [44]:
dfr=pd.DataFrame(np.random.random(size=(5, 3)))

print(dfr)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=dfr.mean(axis=1)
print()
print(dfrmean)
print('\n')

dfr.sub(dfr.mean(axis=1), axis=0)

          0         1         2
0  0.770253  0.472774  0.326757
1  0.290293  0.328445  0.587141
2  0.738800  0.390416  0.955519
3  0.103848  0.948248  0.331023
4  0.724218  0.194280  0.616156


Average of each row

0    0.523261
1    0.401960
2    0.694911
3    0.461040
4    0.511552
dtype: float64

          0         1         2
0  0.246992 -0.050488 -0.196504
1 -0.111667 -0.073515  0.185182
2  0.043888 -0.304495  0.260607
3 -0.357192  0.487208 -0.130017
4  0.212667 -0.317271  0.104605

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [48]:
dfr2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(dfr2)
print('\n')

dfr2columnsum=dfr2.sum(axis=0)
print(dfr2columnsum)

dfr2min=dfr2columnsum.min()
print(dfr2min)

          a         b         c         d         e         f         g  \
0  0.274412  0.898151  0.904090  0.817743  0.842309  0.846190  0.659998
1  0.338643  0.190365  0.767364  0.377387  0.921167  0.637095  0.514139
2  0.304732  0.484810  0.794007  0.006971  0.421757  0.442548  0.679358
3  0.368206  0.371737  0.105879  0.240149  0.943061  0.876108  0.162328
4  0.777426  0.276945  0.342028  0.286728  0.293228  0.204092  0.045880

          h         i         j
0  0.184494  0.345138  0.661054
1  0.618801  0.046902  0.172080
2  0.963970  0.130503  0.728700
3  0.910088  0.014415  0.919617
4  0.794365  0.706249  0.519362


a    2.063420
b    2.222008
c    2.913368
d    1.728979
e    3.421522
f    3.006033
g    2.061702
h    3.471717
i    1.243207
j    3.000812
dtype: float64

NameError: name 'index' is not defined