In [50]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [51]:
dfr=pd.DataFrame(np.random.random(size=(5, 3)))

print(dfr)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=dfr.mean(axis=1)
print()
print(dfrmean)
print('\n')

dfr.sub(dfr.mean(axis=1), axis=0)

          0         1         2
0  0.264735  0.633910  0.864385
1  0.637020  0.557291  0.039993
2  0.621271  0.348613  0.589135
3  0.113358  0.556252  0.996919
4  0.872786  0.876847  0.728966


Average of each row

0    0.587677
1    0.411435
2    0.519673
3    0.555510
4    0.826200
dtype: float64

          0         1         2
0 -0.322942  0.046234  0.276709
1  0.225586  0.145856 -0.371442
2  0.101598 -0.171060  0.069462
3 -0.442152  0.000742  0.441409
4  0.046587  0.050647 -0.097234

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [52]:
dfr2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(dfr2)
print('\n')

dfr2columnsum=dfr2.sum(axis=0)
print(dfr2columnsum)
print('\n')

dfr2min=dfr2columnsum.min()
print(f'the smallest valued column is {dfr2columnsum.idxmin()')

          a         b         c         d         e         f         g  \
0  0.627956  0.125981  0.661306  0.290934  0.043632  0.889508  0.131255
1  0.385103  0.948322  0.575677  0.692084  0.980859  0.474826  0.680819
2  0.185074  0.203053  0.707432  0.582606  0.349132  0.056645  0.939527
3  0.121342  0.987322  0.772221  0.018456  0.939230  0.178940  0.044790
4  0.703332  0.709220  0.233210  0.180598  0.377850  0.138985  0.188384

          h         i         j
0  0.214295  0.018148  0.331484
1  0.239777  0.084687  0.720343
2  0.511746  0.138169  0.821988
3  0.314143  0.318652  0.695204
4  0.879997  0.577883  0.478561


a    2.022806
b    2.973899
c    2.949847
d    1.764678
e    2.690704
f    1.738904
g    1.984775
h    2.159958
i    1.137538
j    3.047579
dtype: float64


the smallest valued column is i